<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIOStreamsCinemaBase</key>
	<string>https://seu-host.tailnet.ts.net/stremio/UUID_DO_PERFIL_CINEMA/TOKEN_DE_CONFIG_OPACO</string>
	<key>AIOStreamsCasualBase</key>
	<string>https://seu-host.tailnet.ts.net/stremio/UUID_DO_PERFIL_CASUAL/TOKEN_DE_CONFIG_OPACO</string>
	<key>AIOStreamsAnimeBase</key>
	<string>https://seu-host.tailnet.ts.net/stremio/UUID_DO_PERFIL_ANIME/TOKEN_DE_CONFIG_OPACO</string>
	<key>AIOMetadataBase</key>
	<string>https://aiometadata.elfhosted.com/stremio/SEU_CONFIG_ID</string>
</dict>
</plist>
